<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongchen.tmvp">

    <application>
        <activity
            android:name=".ui.activity.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>